body {
  background: #6e28d9;
  color: white;
 }

#header {
  width: 500px;
  margin: 0px; auto;
  font-size: 50px;
  font-weight: bold;
}

.flower {
  position: relative;
  width: 150px;
  height: 150px;
  float: left;
}

.flower {
  margin-right: 40px;
}

#flower4 {
  margin-right: 10px;
}

#flower5 {
  margin-right: 10px;
}


.petal {
  background-color: coral;
  width:  30px;
  height: 30px;
  border-radius: 30px;
}

.center {
  width: 46px;
  height: 46px;
  top: calc(50% - 23px);
  left: calc(50% - 23px);
  border-radius: 46px;
  text-align: center;
  line-height: 46px;
  font-size: 30px;
  color: darkred;
  font-weight: bold
}

.petal, .center {
  position: absolute;
}

.leftPetal {
  top: calc(50% - 15px);
  left: 0px;
}

.rightPetal {
  top: calc(50% - 15px);
  right: 0px;
}

.topPetal {
  top: 0px;
  left: calc(50% - 15px);

}

.bottomPetal {
  bottom: 0px;
  left: calc(50% - 15px);

}
