body {
  background-color: pink; /*this changed he background color of the page */
}
h1 {
  color: black; /*this changed the font color */
  font-family: Arial, Helvetica, sans-serif; /*this changed the font style */
  font-size: 60px /*this changed the font size */
}
#box1{
  background-color: white;/*this changed the box color */
  padding: 40px;/*this changed the spacing of the text in the box */
  border: 10px;/*this changed the size of the border */
  border-color:black;/*this changed the border color */
  border-style: dotted;/*this changed the border style */
  height: 200px;/*this changed the height of the box*/
  width: 500px;/*this changed the width of the box */
  font-family: Arial, Helvetica, sans-serif;/*this changed the font style */

}
#header2 {
  color: pink;/*this changed the font color */
  font-size: 100px/*this changed the font size */
}

p {
  font-style: italic;/*this changed the font style */
  position: absolute;/*this changed the positionon the page */
  bottom: 8px;/*this changed the the position to the bottom of the page */
  right: 16px;/*this changed the position to the right side of the page */
}

img{
  width: 20%;/*this changed the size of the image*/
  padding: 40px/*this changed the spacing around the image */
}

#list {
      font-family: Arial, Helvetica, sans-serif;/*this changed the font style */
      font-size: 25px/*this changed the font size */
      color: white;/*this changed the font color */
      padding: 40px;/*this changed the spacing of the text in the box */
      border: 5px;/*this changed the size of the border */
      border-color:black;/*this changed the border color */
      border-style: dotted;/*this changed the border style */
      height: 100px;/*this changed the height of the box*/
      width: 200px;/*this changed the width of the box */
}
